<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.modules.region.mapper.RegionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lh.modules.region.entity.Region">
        <id column="region_id" property="regionId" />
        <result column="region_code" property="regionCode" />
        <result column="region_pcode" property="regionPcode" />
        <result column="region_name" property="regionName" />
        <result column="region_level" property="regionLevel" />
        <result column="region_initial" property="regionInitial" />
        <result column="city_code" property="cityCode" />
        <result column="remark" property="remark" />
        <result column="seq_num" property="seqNum" />
        <result column="province" property="province" />
        <result column="city" property="city" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        region_id, region_code, region_pcode, region_name, region_level, region_initial, city_code, remark, seq_num, province, city
    </sql>

    <resultMap id="myMap" type="com.lh.modules.region.entity.Region">
        <id column="region_id" property="regionId" />
        <result column="region_name" property="regionName" />
        <result column="region_code" property="regionCode" />

        <collection property="blist" ofType="com.lh.modules.region.entity.B">
<!--            <id column="b" property="id" jdbcType="INTEGER" />-->
            <result column="bname" property="bname" />
            <result column="bcode" property="bcode" />
            <result column="bpcode" property="bpcode"/>

            <collection property="clist" ofType="com.lh.modules.region.entity.C">
<!--                <id column="tagId" property="tagId" jdbcType="INTEGER"/>-->
                <result column="cname" property="cname" />
                <result column="ccode" property="ccode" />
                <result column="cpcode" property="cpcode" />
            </collection>
        </collection>
    </resultMap>

    <select id="listInfo" resultMap="myMap">
        select
        a.region_id,a.region_name,a.region_code ,
        b.region_name as bname,b.region_pcode as bpcode,b.region_code as bcode,
        c.region_name as cname,c.region_pcode as cpcode,c.region_code as ccode
        from region a
        left join region b on a.region_code = b.region_pcode
        left join region c on b.region_code = c.region_pcode
        where a.region_level = 1 ORDER BY a.seq_num ,b.seq_num,c.seq_num
    </select>
</mapper>
