<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LionHerding</title>
    <link rel="stylesheet" href="login/css/style.css" th:href="@{/login/css/style.css}">
</head>

<body>
<main>
    <form class="form" th:action="@{/user/login}" action="dashboard.html" method="post">
        <div class="form__cover"></div>
        <div class="form__loader">
            <div class="spinner active">
                <svg class="spinner__circular" viewBox="25 25 50 50">
                    <circle class="spinner__path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                </svg>
            </div>
        </div>
        <div class="form__content">
            <h1>LionHerding</h1>
            <div class="styled-input">
                <input type="text" class="styled-input__input" name="username">
                <div class="styled-input__placeholder"> <span class="styled-input__placeholder-text">Username</span> </div>
                <div class="styled-input__circle"></div>
            </div>
            <div class="styled-input">
                <input type="text" class="styled-input__input" name="password">
                <div class="styled-input__placeholder"> <span class="styled-input__placeholder-text">Password</span> </div>
                <div class="styled-input__circle"></div>
            </div>
            <button type="submit" class="styled-button"> <span class="styled-button__real-text-holder"> <span class="styled-button__real-text" >Submit</span> <span class="styled-button__moving-block face"> <span class="styled-button__text-holder"> <span class="styled-button__text">Sign in</span> </span> </span><span class="styled-button__moving-block back"> <span class="styled-button__text-holder"> <span class="styled-button__text">Sign in</span> </span> </span> </span> </button>
        </div>
    </form>
</main>
<script  src="login/js/index.js" th:href="@{/login/js/index.js}"></script>
</body>
</html>