<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.system.mapper.DepartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lh.system.entity.Depart">
        <result column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="short_name" property="shortName" />
        <result column="manager_id" property="managerId" />
        <result column="manager_name" property="managerName" />
        <result column="telephone" property="telephone" />
        <result column="address" property="address" />
        <result column="zip_code" property="zipCode" />
        <result column="org_domain" property="orgDomain" />
        <result column="node_type" property="nodeType" />
        <result column="unique_coding" property="uniqueCoding" />
        <result column="admin_level" property="adminLevel" />
        <result column="state" property="state" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="create_date" property="createDate" />
        <result column="sort" property="sort" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        parent_id, name, short_name, manager_id, manager_name, telephone, address, zip_code, org_domain, node_type, unique_coding, admin_level, state, create_id, create_name, create_date, sort, remark
    </sql>

</mapper>
