<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.system.mapper.DictionaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lh.system.entity.Dictionary">
        <result column="id" property="id" />
        <result column="create_date" property="createDate" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="key" property="key" />
        <result column="parent_id" property="parentId" />
        <result column="sort" property="sort" />
        <result column="value" property="value" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_date, create_id, create_name, key, parent_id, sort, value
    </sql>

</mapper>
