<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lh.system.mapper.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.lh.system.model.Dictionary" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
    <result column="createId" property="createId" jdbcType="VARCHAR" />
    <result column="createName" property="createName" jdbcType="VARCHAR" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="parentId" property="parentId" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, createDate, createId, createName, key, parentId, sort, value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_dictionary
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_dictionary
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lh.system.model.Dictionary" >
    insert into sys_dictionary (id, createDate, createId, 
      createName, key, parentId, 
      sort, value)
    values (#{id,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{createid,jdbcType=VARCHAR}, 
      #{createname,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lh.system.model.Dictionary" >
    insert into sys_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="createid != null" >
        createId,
      </if>
      <if test="createname != null" >
        createName,
      </if>
      <if test="key != null" >
        key,
      </if>
      <if test="parentid != null" >
        parentId,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="value != null" >
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createid != null" >
        #{createid,jdbcType=VARCHAR},
      </if>
      <if test="createname != null" >
        #{createname,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lh.system.model.Dictionary" >
    update sys_dictionary
    <set >
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createid != null" >
        createId = #{createid,jdbcType=VARCHAR},
      </if>
      <if test="createname != null" >
        createName = #{createname,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentId = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lh.system.model.Dictionary" >
    update sys_dictionary
    set createDate = #{createdate,jdbcType=TIMESTAMP},
      createId = #{createid,jdbcType=VARCHAR},
      createName = #{createname,jdbcType=VARCHAR},
      key = #{key,jdbcType=VARCHAR},
      parentId = #{parentid,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      value = #{value,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>