<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.system.mapper.LogMapper" >

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lh.system.entity.Log">
        <result column="id" property="id" />
        <result column="op_desc" property="opDesc" />
        <result column="function_id" property="functionId" />
        <result column="ip_adress" property="ipAdress" />
        <result column="login_name" property="loginName" />
        <result column="op_date" property="opDate" />
        <result column="op_type" property="opType" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        op_desc, function_id, ip_adress, login_name, op_date, op_type, user_id
    </sql>

</mapper>
