<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.system.mapper.SysPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lh.system.entity.SysPermission">
        <id column="sys_permission_id" property="sysPermissionId" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="component" property="component" />
        <result column="component_name" property="componentName" />
        <result column="redirect" property="redirect" />
        <result column="menu_type" property="menuType" />
        <result column="perms" property="perms" />
        <result column="perms_type" property="permsType" />
        <result column="sort_no" property="sortNo" />
        <result column="always_show" property="alwaysShow" />
        <result column="icon" property="icon" />
        <result column="is_route" property="isRoute" />
        <result column="is_leaf" property="isLeaf" />
        <result column="hidden" property="hidden" />
        <result column="description" property="description" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="rule_flag" property="ruleFlag" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sys_permission_id, parent_id, name, url, component, component_name, redirect, menu_type, perms, perms_type, sort_no, always_show, icon, is_route, is_leaf, hidden, description, create_by, create_time, update_by, update_time, del_flag, rule_flag, status
    </sql>

    <select id="queryByUser" parameterType="Object"  resultType="com.lh.system.entity.SysPermission">
		   SELECT p.*
		   FROM  sys_permission p
		   WHERE exists(
		   		select a.sys_role_permission_id from sys_role_permission a
		   		join sys_role b on a.role_id = b.sys_role_id
		   		join sys_user_role c on c.role_id = b.sys_role_id
		   		join sys_user d on d.sys_user_id = c.user_id
		   		where p.sys_permission_id = a.permission_id AND d.login_name = #{loginName,jdbcType=VARCHAR}
		   )
		   and p.del_flag = 0
		   order by p.sort_no ASC
	</select>

</mapper>
